<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'plantaopro/partials/_head.html' %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .flex-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }
    </style>
</head>
<body>
    <div class="flex-wrapper">
        {% include 'plantaopro/partials/_nav.html' %}
        
        <section id="companyRegistration" class="py-5">
            <div class="container">
                <h2 class="text-center">Cadastrar Clinica</h2>
        
                <div class="form-row mb-3" style="border-bottom: 1px solid #dee2e6;"></div>
        
                <!-- CNPJ, Nome Fantasia, Razão Social fields -->
                <form method="post" action="cadastroEmpBanco/">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="companyCnpj">CNPJ</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="companyCnpj" name="companyCnpj" placeholder="00.000.000/0000-00" required oninvalid="this.setCustomValidity('Campo Obrigatório')" oninput="this.setCustomValidity(''); mascaraCnpj(this)" maxlength="18">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary" onclick="buscarCnpj()">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyNomeFantasia">Nome Fantasia</label>
                            <input type="text" class="form-control" id="companyNomeFantasia" name="companyNomeFantasia" placeholder="Nome fantasia" required oninvalid="this.setCustomValidity('Campo Obrigatório')" oninput="setCustomValidity('')" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyName">Razão Social</label>
                            <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Razão social" required oninvalid="this.setCustomValidity('Campo Obrigatório')" oninput="setCustomValidity('')" disabled>
                        </div>
                    </div>
        
                    <!-- Inscrição Estadual, Inscrição Municipal, CEP fields -->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="companyInscricaoEstadual">Inscrição Estadual</label>
                            <input type="text" class="form-control" id="companyInscricaoEstadual" name="companyInscricaoEstadual" placeholder="Inscrição estadual" required oninvalid="this.setCustomValidity('Campo Obrigatório')" oninput="setCustomValidity('')" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyInscricaoMunicipal">Inscrição Municipal</label>
                            <input type="text" class="form-control" id="companyInscricaoMunicipal" name="companyInscricaoMunicipal" placeholder="Inscrição municipal" required oninvalid="this.setCustomValidity('Campo Obrigatório')" oninput="setCustomValidity('')" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyCep">CEP</label>
                            <input type="text" class="form-control" id="companyCep" name="companyCep" placeholder="CEP" disabled>
                        </div>
                    </div>
        
                    <!-- Logradouro, Número, Bairro, Cidade, Estado fields -->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="companyStreet">Logradouro</label>
                            <input type="text" class="form-control" id="companyStreet" name="lougradouro" placeholder="Logradouro" disabled>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="companyNumber">Número</label>
                            <input type="text" class="form-control" id="companyNumber" name="companyNumber" placeholder="Número" disabled>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="companyNeighborhood">Bairro</label>
                            <input type="text" class="form-control" id="companyNeighborhood" name="companyNeighborhood" placeholder="Bairro" disabled>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="companyCity">Cidade</label>
                            <input type="text" class="form-control" id="companyCity" name="companyCity" placeholder="Cidade" disabled>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="companyState">Estado</label>
                            <select id="companyState" class="form-control" name="companyState" disabled>
                                <option selected>Escolher...</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AP</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MT</option>
                                <option>MS</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>PI</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>
                        </div>
                    </div>        
                    <!-- Divider between form sections -->
                    <div class="form-row mb-3" style="border-bottom: 1px solid #dee2e6;"></div>

                    <!-- Other form fields -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="companyPhone">Telefone</label>
                            <input type="text" class="form-control" id="companyPhone" name="companyPhone" placeholder="(xx) 9999-9999" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="companyCell">Celular</label>
                            <input type="text" class="form-control" id="companyCell" name="companyCell" placeholder="(xx) 99999-9999" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="companyContactPerson">Pessoa para Contato</label>
                            <input type="text" class="form-control" id="companyContactPerson" name="companyContactPerson" placeholder="Pessoa para contato" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="companyEmail">Email</label>
                            <input type="email" class="form-control" id="companyEmail" name="companyEmail" placeholder="Email" disabled>
                        </div>
                    </div>

                    <!-- Financial Fields -->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="companyValorPlantao_12">Valor Plantão (12h)</label>
                            <input type="text" class="form-control" id="companyValorPlantao_12" name="companyValorPlantao_12" placeholder="Valor do plantão" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyValorPlantaoHora">Valor Plantão (Por hora)</label>
                            <input type="text" class="form-control" id="companyValorPlantaoHora" name="companyValorPlantaoHora" placeholder="Plantão por hora" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyPlantaoSemana">Plantão Semana</label>
                            <input type="text" class="form-control" id="companyPlantaoSemana" name="companyPlantaoSemana" placeholder="Plantão durante a semana" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="companyValorPlantaoSabadoDomingo">Valor Plantão Sábado e Domingo</label>
                            <input type="text" class="form-control" id="companyValorPlantaoSabadoDomingo" name="companyValorPlantaoSabadoDomingo" placeholder="Plantão sábados e domingos" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="companyValorContrato">Valor Contrato (R$)</label>
                            <input type="text" class="form-control" id="companyValorContrato" name="companyValorContrato" placeholder="Valor do contrato" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="companyTaxaAdministracao">Taxa de Administração (%)</label>
                            <input type="text" class="form-control" id="companyTaxaAdministracao" name="companyTaxaAdministracao" placeholder="Informe a taxa de administração" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="companyIsentoTributacao">Isento de Tributação</label>
                            <select id="companyIsentoTributacao" class="form-control" name="companyIsentoTributacao" disabled>
                                <option selected>Escolher...</option>
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    
                    <!-- Divider between form sections -->
                    <div class="form-row mb-3" style="border-bottom: 1px solid #dee2e6;"></div>

                    <!-- Buttons with specified colors -->
                    <div class="form-row">
                        <div class="col-md-12 text-left">
                            <button type="submit" class="btn btn-primary mr-2" id="cadastrarButton" disabled>Cadastrar Empresa</button>
                            <button type="button" class="btn btn-secondary mr-2" id="alterarButton" onclick="alterarDados()" disabled>Alterar</button>
                            <button type="button" class="btn btn-info mr-2" id="limparButton" onclick="resetForm()" disabled>Limpar</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'index' %}'" id="cancelButton">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <div>
            {% include 'plantaopro/partials/_footer.html' %}
        </div>
    </div>

    <!-- jQuery and Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <!-- JavaScript Functions -->
    <script>
        
        const fields = [
            'companyCnpj','companyName','companyNomeFantasia','companyInscricaoEstadual','companyInscricaoMunicipal', 'companyCep', 'companyStreet',
            'companyNeighborhood', 'companyCity', 'companyState', 'companyPhone',
            'companyCell', 'companyEmail', 'companyIsentoTributacao', 'companyContactPerson',
            'companyValorPlantao_12', 'companyValorPlantaoHora', 'companyPlantaoSemana',
            'companyValorPlantaoSabadoDomingo', 'companyTaxaAdministracao', 'companyValorContrato','companyNumber',
        ];  
    
        function enableFields() {
            fields.forEach(function(id) {
                const element = document.getElementById(id);
                if (element && id !== "companyCnpj") {  
                    element.disabled = false;
                }
            });
            const cnpjField = document.getElementById("companyCnpj");
            if (cnpjField) {
                cnpjField.disabled = true;
            }
        }
    
        function preencherCampos(data) {
            fields.forEach(function(id) {
                document.getElementById(id).value = data[id] || ''; 
            });
        }
    
        function resetForm() {
            limparCampos();  
            enableFields();  
            habilitarBotaoCadastrar(true);  
        }
    
        function limparCampos() {
            fields.forEach(function(id) {
                if (id !== 'companyCnpj') {  
                    document.getElementById(id).value = '';  
                }
            });
        }
    
        function habilitarBotaoCadastrar(habilitar = true) {
            document.getElementById('cadastrarButton').disabled = !habilitar; 
        }
    
        function habilitarBotaoAlterar(habilitar = true) {
            document.getElementById('alterarButton').disabled = !habilitar;
        }
    
        function habilitarBotaoLimpar(habilitar = true) {
            document.getElementById('limparButton').disabled = !habilitar;
        }

        function alterarDados() {
            var dados = {};
            fields.forEach(function(id) {
                dados[id] = document.getElementById(id).value;  
            });
    
            fetch('/alterar_cadastro_empresa/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(dados)  
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Dados alterados com sucesso!');
                } else {
                    alert('Erro ao alterar os dados.');
                }
            })
            .catch(error => console.error('Erro ao alterar dados:', error));
        }
    
        // JavaScript - buscarCnpj()
        function buscarCnpj() {
            
            var cnpj = document.getElementById("companyCnpj").value;
        
            // Validação inicial do CNPJ
            if (!cnpj || !validarCnpj(cnpj)) {
                alert("Por favor, informe um CNPJ válido.");
                document.getElementById("companyCnpj").value = ""; 
                return;
            }
            console.log("CNPJ capturado:", cnpj);  
        
            // Envio da requisição para o backend
            fetch('/buscar_cnpj_banco/', {  
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Certifique-se que o token está correto
                },
                body: JSON.stringify({ cnpj: cnpj })  
            })
            .then(response => {
                // Verifica se a resposta é válida
                if (!response.ok) {
                    throw new Error("Erro na requisição: " + response.status);
                }
                return response.json();
            })
            .then(data => {
                // Log dos dados retornados
                console.log("Dados retornados:", data);
        
                // Tratamento da resposta conforme o CNPJ existir ou não
                if (data.exists) {
                    preencherCampos(data.empresa);  // Função para preencher campos com os dados retornados
                    enableFields(true);             // Habilita os campos
                    habilitarBotaoCadastrar(false); 
                    habilitarBotaoAlterar(true);    
                } else {
                    alert('CNPJ não encontrado. Preencha os campos.');
                    enableFields(true);             // Habilita os campos
                    limparCampos();                 // Limpa os campos do formulário
                    habilitarBotaoCadastrar();      // Habilita o botão de cadastro
                    habilitarBotaoAlterar(false);   // Desabilita o botão de alteração
                }
            })
            .catch(error => console.error('Erro ao buscar CNPJ:', error));
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Verifica se o cookie começa com o nome fornecido
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        
        function validarCnpj(cnpj) {
            cnpj = cnpj.replace(/[^\d]+/g, '');
            if (cnpj === '' || cnpj.length !== 14) return false;
    
            const invalidCnpjs = [
                "00000000000000", "11111111111111", "22222222222222", 
                "33333333333333", "44444444444444", "55555555555555", 
                "66666666666666", "77777777777777", "88888888888888", 
                "99999999999999"
            ];
    
            if (invalidCnpjs.includes(cnpj)) return false;
    
            let tamanho = cnpj.length - 2;
            let numeros = cnpj.substring(0, tamanho);
            let digitos = cnpj.substring(tamanho);
            let soma = 0;
            let pos = tamanho - 7;
    
            for (let i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2) pos = 9;
            }
    
            let resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0)) return false;
    
            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
    
            for (let i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2) pos = 9;
            }
    
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            return resultado == digitos.charAt(1);
        }
        function mascaraCnpj(cnpj) {
            cnpj = cnpj.replace(/\D/g, ''); // Remove tudo que não é dígito
            if (cnpj.length > 14) {
                cnpj = cnpj.slice(0, 14); // Limita o tamanho do CNPJ
            }
            // Formata o CNPJ
            cnpj = cnpj.replace(/^(\d{2})(\d)/, '$1.$2'); // Adiciona o primeiro ponto
            cnpj = cnpj.replace(/(\d{3})(\d)/, '$1.$2'); // Adiciona o segundo ponto
            cnpj = cnpj.replace(/(\d{3})(\d{1,2})$/, '$1/$2'); // Adiciona a barra
            cnpj = cnpj.replace(/(\d{4})(\d{1,2})$/, '$1-$2'); // Adiciona o hífen
            return cnpj;
        }
    
        function mascaraCnpj(elemento) {
            // Remove tudo que não é dígito
            let cnpj = elemento.value.replace(/\D/g, '');
        
            // Aplica a máscara conforme o número de dígitos
            if (cnpj.length <= 14) {
                cnpj = cnpj.replace(/^(\d{2})(\d)/, "$1.$2");
                cnpj = cnpj.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3");
                cnpj = cnpj.replace(/\.(\d{3})(\d)/, ".$1/$2");
                cnpj = cnpj.replace(/(\d{4})(\d)/, "$1-$2");
            }
        
            elemento.value = cnpj;
        }
        
        // Limita o campo para aceitar apenas números
        document.getElementById("companyCnpj").addEventListener("keypress", function (e) {
            if (!/[0-9]/.test(e.key)) {
                e.preventDefault();
            }
        })
    </script>
    </body>
</html>
